<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <title>生命科学学院预约系统</title>
	<link rel="stylesheet" href="{% static 'css/index11.css' %}">
</head>
<body>
<div class="header" id="head">
    <a href="{% url 'user_logout' %}" target="_self"><button><img class="img1" src="../../../static/img/exit.png" alt=""/>退 出 登 录</button></a>
</div>
<!--****************************************************************-->
<div class="wrap" id="wrap">
	<div class="logGet">
			<!-- 头部提示信息 -->
			<div class="logDtip">
				<img class="img1" src="../../../static/img/point.png" alt=""/>
				<img  class="img2" src="../../../static/img/point.png" alt=""/>
				<p class="p1">栏目导航</p>
			</div>
			<div class="logA">
				<!--<a href="index.html" target="_self"><button>登 录</button></a>-->
				<a href="{% url 'index1' %}" target="_self"><button>场地预约</button></a>
			</div>
			<div class="logB">
				<!--<a href="index.html" target="_self"><button>登 录</button></a>-->
				<a href="{% url 'index2' %}" target="_self"><button>仪器预约</button></a>
			</div>
			<div class="logC">
				<a href="{% url 'index3' %}" target="_self"><button>场地、仪器预约列表</button></a>
			</div>

	</div>
	<div class="footer" id="foot" >
		<p class="title"><img  class="img3" src="../../../static/img/right.png" alt=""/>场地预约</p>
		<div class="notice">
            <form action="/index1/" method="post">
                {% csrf_token %}
                <p class="place">预约场地*：
                <select style="height: 30px;width: 200px" name="place">
                    <option value="" style="display: none;">请选择</option>
                    {% for j in place_name %}
                    <option>{{ j.place_name }}</option>
                    {% endfor %}
                </select>
                </p>
                <p class="people">预约人员*：<input type="text" style="height: 30px;width: 200px" name="people"/></p>
                <p class="time">预约时间*：<input class="date" style="height: 30px;width: 200px" type="date" name="date"/>
                <select style="height: 30px;width: 200px" name="time">
                    <option value="" style="display: none;">请选择</option>
                    <option>8:00-9:00</option>
                    <option>9:00-10:00</option>
                    <option>10:00-11:00</option>
                    <option>11:00-12:00</option>
                    <option>12:00-13:00</option>
                    <option>13:00-14:00</option>
                    <option>14:00-15:00</option>
                    <option>15:00-16:00</option>
                    <option>16:00-17:00</option>
                    <option>17:00-18:00</option>
                    <option>18:00-19:00</option>
                    <option>19:00-20:00</option>
                    <option>20:00-21:00</option>
                    <option>21:00-22:00</option>
                    <option>22:00-23:00</option>
                </select></p>
                <p class="number">联系方式*：<input type="text" style="height: 30px;width: 200px" name="number"/></p>
                <p class="remark">其他备注  ：<textarea rows="5" cols="50" name="remark"></textarea></p>
                <a href="" target="_self"><button>确 定</button></a>
                <p class="error" style="color:red; margin-left: 750px">{{ error_msg }}</p>
            </form>
		</div>
	</div>
</div>

</body>
</html>